:root{
    --primary:#B17457;
    --TextColor:#000000;
    --Backgroundwhite:#ffffff;
    --TextHover:#ffffff;
    --TextColorContrast:#ffffff;
}
  
/* @keyframes example{
    from{
        background-color: #0cf;
    }to{
        background-color: black;

    }
} */



@keyframes example {
    from {
        background-color: #B17457;
    }
    to {
        color:  rgb(228, 31, 13);
        background-color: rgb(0, 0, 0);

    }
}

.Catagory{
    border-radius: 10px;
    color:var(--TextColorContrast);
    margin-left:  10px;
    padding: 12px;
    background-color: var(--primary);
}
.Catagory:hover{
    animation-name: example;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
   
}


  



