/* @keyframes example{
    from{
        background-color: #0cf;
    }to{
        background-color: black;

    }
} */



@keyframes example {
    from {
        background-color: #B17457;
    }
    to {
        color:  rgb(228, 31, 13);
        background-color: rgb(0, 0, 0);

    }
}
  

.Catagory{
    border-radius: 10px;
    color:white;
    margin-left:  10px;
    padding: 12px;
    background-color: #B17457;
}
.Catagory:hover{
    animation-name: example;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
   
}

  



