

.sidebarbtn{
    color:var(--TextColor);
}



.sidebar{
    border: 2px solid var(--primary);
    border-radius: 10px;
    margin-bottom: 10px;
}

.Onclickhover:hover{
  
    border-radius: 10px;
    background-color: var(--primary);
}

.Onclickhover:hover .sidebarbtn{
   color: white;
}
