
.card-wrapper {
  display: flex;  /* จัดเรียงเป็นแนวนอน */
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-around; /* กระจายการ์ดให้มีระยะห่างเท่าๆ กัน */
  gap: 16px; /* ระยะห่างระหว่างการ์ด */
  padding: 16px; /* เพิ่ม padding เพื่อเว้นระยะ */
}

.card {
    /* Add shadows to create the "card" effect */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h3 {
  margin-top: 16px;
  font-size: 1.5rem;
}

.card h6 {
  font-size: 1.2rem;
  color: #333;
}

  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}